@{
    ViewBag.Title = "BookStore";
}

<div class="jumbotron">
    <h1>Book rental</h1>
    <p class="lead">Here you can see the current books in the database, as well as the current customers. Guest account (which you can register)
    doesn't have a permission to add a new book/customer or to edit them. As a guest, you can make a rental request.<br />
    Source code can be found on github and link to it is in my CV.
    </p>
</div>
